## chronic diseases indicators (CDI) Analysis

Analysis on lifestyle factors on health in Nashville/Tennessee

#### Import library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Formatting

In [2]:
%matplotlib inline

In [ ]:
#import csv file: U.S._Chronic_Disease_Indicators__CDI_.master
us_cdi_df = pd.read_csv('../data/U.S._Chronic_Disease_Indicators__CDI_.master.csv', low_memory=False)

In [ ]:
#look at head
us_cdi_df.head(5)

In [ ]:
#look at tail
us_cdi_df.tail(5)

In [ ]:
# examine shape of us cdi df
#814937 rows, 34 columns
us_cdi_df.shape

In [ ]:
#examine info of us cdi df
us_cdi_df.info()

In [ ]:
# drop unecessary columns in us cdi df 
us_cdi_df = us_cdi_df.drop(columns = ['LocationAbbr','Response', 'DataValueFootnoteSymbol','DatavalueFootnote','LowConfidenceLimit','HighConfidenceLimit','StratificationCategory2','Stratification2','StratificationCategory3','Stratification3','ResponseID','LocationID','TopicID','QuestionID','DataValueTypeID','StratificationCategoryID1','StratificationID1','StratificationCategoryID2','StratificationCategoryID3','StratificationID2','StratificationID3'])

In [ ]:
#look at column names now
us_cdi_df.columns

In [ ]:
# change YearEnd to datetimeindex format
us_cdi_df['YearEnd'] = pd.DatetimeIndex(us_cdi_df['YearEnd'])

In [ ]:
# want to subset to have topic of Nutrition, Physical Activity, and Weight Status on topic column

#need to subset multiple columns based on mulitple conditions

# us_cdi_df to only have DataSource col 'BRFSS' and DataValueType be 'Crude Prevalence'
## example of exact match subset dogs["breed"] == "Labrador"

# brfss and cp subset
brfss = us_cdi_df['DataSource'] == 'BRFSS'
cp    = us_cdi_df['DataValueType']== 'Crude Prevalence'
us_cdi_brfss_cp = us_cdi_df[brfss & cp]

# DataSource needs to be 'BRFSS', Topic be 'Nutrition, Physical Activity, and Weight Status', DataValueType be 'Crude Prevalence'
# brfss and cp and npw subset

npw = us_cdi_df['Topic']== 'Nutrition, Physical Activity, and Weight Status'
us_cdi_brfss_npw_cp = us_cdi_df[brfss & cp & npw]

In [ ]:
us_cdi_brfss_cp.head()

In [ ]:
us_cdi_brfss_npw_cp.head()

In [ ]:
# three conditions for questions subset see notes of capstone proposal

#Row contains string ‘consumption’ mean the person fruit and vegetable consumption frequency
## example of isin subset is_black_or_brown = dogs["color"].isin(["Black", "Brown"]) #this isin code has an error
## df[df['A'].str.contains("hello")]
nutrition_intake_consump = us_cdi_df[us_cdi_df['Question'].str.contains("consumption")]
nutrition_intake_consump.head()
#us_cdi_brfss_npw_cp_consump = us_cdi_df[brfss & cp & npw & nutrition_intake_consump]

#There are so many filters within the data set of us cdc dataframe and i did a general analysis with excel. See notes in capstone

In [ ]:
#import for only obesity dataset to explore relationship between obesity and nutrition intake and excercise
# inner joins obesity data,nutrition and exercise after apply filters formula

#import csv file: Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System
us_obesity_df = pd.read_csv('../data/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')

In [ ]:
# examine us_obesity_df head

us_obesity_df.head()

In [ ]:
#dataframe info

us_obesity_df.info()

In [ ]:
# subset obeisty values
#use Question contains to subset  
## df[df['A'].str.contains("hello")]

#explore if there are ways to transpose rows to columns grouping by topics and sub topics and show their values
#trying df.pivot(column='var',values = 'val') that spread rows into columns

#by_topic = us_obesity_df.pivot(columns='Topic', values='Data_Value')
#it does not work as there are no matching values for each column

In [ ]:
#try groupby

by_topic = us_obesity_df.groupby(by='Topic')

In [ ]:
by_topic.head()

In [ ]:
#figure out at this point it is easier to do EDA with excel

#### I want to create map showing Nashville location with obese and no physical activity
##### reference: https://medium.com/analytics-vidhya/finding-nearest-pair-of-latitude-and-longitude-match-using-python-ce50d62af546

In [3]:
#import dataset with no physical activity nashville #(member)
#file name: 500_Cities__No_leisure-time_physical_activity_among_adults_aged___18_years
no_activity = pd.read_csv('../data/500_Cities__No_leisure-time_physical_activity_among_adults_aged___18_years_tn_cities.csv')
no_activity.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093002600,No leisure-time physical activity among adults...,%,...,37.3,NaN,NaN,"2,451","(35.9541120412, -83.9603611106)",UNHBEH,LPA,4740000,4.709300e+10,Physical Inactivity
1,2017,TN,Tennessee,Clarksville,Census Tract,BRFSS,Unhealthy Behaviors,4715160-47125100300,No leisure-time physical activity among adults...,%,...,37.1,NaN,NaN,"5,221","(36.4955960329, -87.3598454821)",UNHBEH,LPA,4715160,4.712510e+10,Physical Inactivity
2,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,4714000-47065010432,No leisure-time physical activity among adults...,%,...,25.3,NaN,NaN,"6,317","(35.1279296495, -85.2082336438)",UNHBEH,LPA,4714000,4.706501e+10,Physical Inactivity
3,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,4714000-47065000800,No leisure-time physical activity among adults...,%,...,29.5,NaN,NaN,"1,348","(35.0684524247, -85.3130794178)",UNHBEH,LPA,4714000,4.706500e+10,Physical Inactivity
4,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093004000,No leisure-time physical activity among adults...,%,...,32.7,NaN,NaN,"4,313","(36.0123147591, -83.959901727)",UNHBEH,LPA,4740000,4.709300e+10,Physical Inactivity

In [4]:
#import obese nashville dataset #hotel
#file name: 500_Cities__Obesity_among_adults_aged___18_years 
obese = pd.read_csv('../data/500_Cities__Obesity_among_adults_aged___18_years_tn_cities.csv')
obese.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,4714000-47065010433,Obesity among adults aged >=18 Years,%,...,32.2,NaN,NaN,"5,095","(35.1233714276, -85.2493676609)",UNHBEH,OBESITY,4714000,4.706501e+10,Obesity
1,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093004100,Obesity among adults aged >=18 Years,%,...,32.8,NaN,NaN,"4,160","(36.0199847745, -83.940415456)",UNHBEH,OBESITY,4740000,4.709300e+10,Obesity
2,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,4714000-47065010901,Obesity among adults aged >=18 Years,%,...,28.5,NaN,NaN,"1,457","(35.0553305719, -85.3330624598)",UNHBEH,OBESITY,4714000,4.706501e+10,Obesity
3,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093002900,Obesity among adults aged >=18 Years,%,...,42.0,NaN,NaN,"3,765","(36.003541894, -83.9398730976)",UNHBEH,OBESITY,4740000,4.709300e+10,Obesity
4,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093003902,Obesity among adults aged >=18 Years,%,...,35.5,NaN,NaN,"3,019","(35.9985898898, -83.9728153766)",UNHBEH,OBESITY,4740000,4.709300e+10,Obesity

In [5]:
# split geolocation column into lat and lon
split_data_obese = obese.GeoLocation.str.strip(')').str.strip('(')#.str.split(', ') #become a series of list, each list of your series,extract
# how many nan and I have dropped 2 nan values
split_data_obese = split_data_obese.dropna()
#obese['lat'] = split_data_obese.apply(lambda x: x[0])
#obese['lon'] = split_data_obese.apply(lambda x: x[1])

split_data_obese = pd.DataFrame(split_data_obese, columns = ['GeoLocation'])
#split_data_obese.head()

split_data_obese.head()

                     GeoLocation
0  35.1233714276, -85.2493676609
1   36.0199847745, -83.940415456
2  35.0553305719, -85.3330624598
3   36.003541894, -83.9398730976
4  35.9985898898, -83.9728153766

In [6]:
#reference: https://chrisalbon.com/python/data_wrangling/pandas_split_lat_and_long_into_variables/
#Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a variable,

for row in split_data_obese['GeoLocation']:
    # try to,
    #try:
        #Split the row by comma and append
        #everything before the comma to lat
        lat.append(row.split(',')[0])
        #Split the row by comma and append
        #Everything after the comma to lon
        lon.append(row.split(',')[1])

In [7]:
# Create two new columns from lat and lon
split_data_obese['lat'] = lat
split_data_obese['lon'] = lon

In [8]:
split_data_obese

                       GeoLocation            lat              lon
0    35.1233714276, -85.2493676609  35.1233714276   -85.2493676609
1     36.0199847745, -83.940415456  36.0199847745    -83.940415456
2    35.0553305719, -85.3330624598  35.0553305719   -85.3330624598
3     36.003541894, -83.9398730976   36.003541894   -83.9398730976
4    35.9985898898, -83.9728153766  35.9985898898   -83.9728153766
..                             ...            ...              ...
544  36.1582500552, -86.8715276437  36.1582500552   -86.8715276437
545  35.1004579845, -89.9399787328  35.1004579845   -89.9399787328
546    35.1653247299, -90.01466327  35.1653247299     -90.01466327
547  36.0712760339, -86.9382627391  36.0712760339   -86.9382627391
548  35.9040426065, -86.4789099983  35.9040426065   -86.4789099983

[549 rows x 3 columns]

In [9]:
#drop column GeoLocation on split_data_obese so i can do a outer join with obese dataset

split_data_obese = split_data_obese.drop(columns = 'GeoLocation')

In [10]:
#join the obese lat lon to obese dataset 
obese_latlon = obese.join(split_data_obese, how='outer')

In [11]:
obese_latlon.head(5)

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text,lat,lon
0,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,4714000-47065010433,Obesity among adults aged >=18 Years,%,...,NaN,"5,095","(35.1233714276, -85.2493676609)",UNHBEH,OBESITY,4714000,4.706501e+10,Obesity,35.1233714276,-85.2493676609
1,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093004100,Obesity among adults aged >=18 Years,%,...,NaN,"4,160","(36.0199847745, -83.940415456)",UNHBEH,OBESITY,4740000,4.709300e+10,Obesity,36.0199847745,-83.940415456
2,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,4714000-47065010901,Obesity among adults aged >=18 Years,%,...,NaN,"1,457","(35.0553305719, -85.3330624598)",UNHBEH,OBESITY,4714000,4.706501e+10,Obesity,35.0553305719,-85.3330624598
3,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093002900,Obesity among adults aged >=18 Years,%,...,NaN,"3,765","(36.003541894, -83.9398730976)",UNHBEH,OBESITY,4740000,4.709300e+10,Obesity,36.003541894,-83.9398730976
4,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093003902,Obesity among adults aged >=18 Years,%,...,NaN,"3,019","(35.9985898898, -83.9728153766)",UNHBEH,OBESITY,4740000,4.709300e+10,Obesity,35.9985898898,-83.9728153766

In [12]:

# split geolocation column into lat and lon
split_data_no_activity = no_activity.GeoLocation.str.strip(')').str.strip('(')#.str.split(', ') #become a series of list, each list of your series,extract
# how many nan and I have dropped 2 nan values
split_data_no_activity = split_data_no_activity.dropna()
#obese['lat'] = split_data_obese.apply(lambda x: x[0])
#obese['lon'] = split_data_obese.apply(lambda x: x[1])

split_data_no_activity = pd.DataFrame(split_data_no_activity, columns = ['GeoLocation'])
#split_data_obese.head()

split_data_no_activity.head()

                     GeoLocation
0  35.9541120412, -83.9603611106
1  36.4955960329, -87.3598454821
2  35.1279296495, -85.2082336438
3  35.0684524247, -85.3130794178
4   36.0123147591, -83.959901727

In [13]:
#Create two lists for the loop results to be placed

lat1 = []
lon1 = []

# For each row in a variable,

for row in split_data_no_activity['GeoLocation']:
    # try to,
    #try:
        #Split the row by comma and append
        #everything before the comma to lat
        lat1.append(row.split(',')[0])
        #Split the row by comma and append
        #Everything after the comma to lon
        lon1.append(row.split(',')[1])

In [14]:
# Create two new columns from lat and lon
split_data_no_activity['lat'] = lat1
split_data_no_activity['lon'] = lon1

In [15]:
split_data_no_activity

                       GeoLocation            lat              lon
0    35.9541120412, -83.9603611106  35.9541120412   -83.9603611106
1    36.4955960329, -87.3598454821  36.4955960329   -87.3598454821
2    35.1279296495, -85.2082336438  35.1279296495   -85.2082336438
3    35.0684524247, -85.3130794178  35.0684524247   -85.3130794178
4     36.0123147591, -83.959901727  36.0123147591    -83.959901727
..                             ...            ...              ...
544  36.0810876055, -86.6188609306  36.0810876055   -86.6188609306
545   36.148106453, -86.5856887267   36.148106453   -86.5856887267
546   36.151096554, -86.7597078621   36.151096554   -86.7597078621
547  36.2249944111, -86.7399718241  36.2249944111   -86.7399718241
548  35.1777783462, -89.8526515433  35.1777783462   -89.8526515433

[549 rows x 3 columns]

In [16]:
#drop column GeoLocation on split_data_no_activity so i can do a outer join with no activity dataset

split_data_no_activity = split_data_no_activity.drop(columns = 'GeoLocation')

In [17]:
#join the no activity lat lon to no activity dataset
no_activity_latlon = no_activity.join(split_data_no_activity, how='outer')

In [18]:
no_activity_latlon

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text,lat,lon
0,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093002600,No leisure-time physical activity among adults...,%,...,NaN,"2,451","(35.9541120412, -83.9603611106)",UNHBEH,LPA,4740000,4.709300e+10,Physical Inactivity,35.9541120412,-83.9603611106
1,2017,TN,Tennessee,Clarksville,Census Tract,BRFSS,Unhealthy Behaviors,4715160-47125100300,No leisure-time physical activity among adults...,%,...,NaN,"5,221","(36.4955960329, -87.3598454821)",UNHBEH,LPA,4715160,4.712510e+10,Physical Inactivity,36.4955960329,-87.3598454821
2,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,4714000-47065010432,No leisure-time physical activity among adults...,%,...,NaN,"6,317","(35.1279296495, -85.2082336438)",UNHBEH,LPA,4714000,4.706501e+10,Physical Inactivity,35.1279296495,-85.2082336438
3,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,4714000-47065000800,No leisure-time physical activity among adults...,%,...,NaN,"1,348","(35.0684524247, -85.3130794178)",UNHBEH,LPA,4714000,4.706500e+10,Physical Inactivity,35.0684524247,-85.3130794178
4,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,4740000-47093004000,No leisure-time physical activity among adults...,%,...,NaN,"4,313","(36.0123147591, -83.959901727)",UNHBEH,LPA,4740000,4.709300e+10,Physical Inactivity,36.0123147591,-83.959901727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,4752006-47037015618,No leisure-time physical activity among adults...,%,...,NaN,"5,712","(36.0810876055, -86.6188609306)",UNHBEH,LPA,4752006,4.703702e+10,Physical Inactivity,36.0810876055,-86.6188609306
545,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,4752006-47037015610,No leisure-time physical activity among adults...,%,...,NaN,"7,820","(36.148106453, -86.5856887267)",UNHBEH,LPA,4752006,4.703702e+10,Physical Inactivity,36.148106453,-86.5856887267
546,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,4752006-47037014800,No leisure-time physical activity among adults...,%,...,NaN,"3,127","(36.151096554, -86.7597078621)",UNHBEH,LPA,4752006,4.703701e+10,Physical Inactivity,36.151096554,-86.7597078621
547,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,4752006-47037011002,No leisure-time physical activity among adults...,%,...,NaN,"2,643","(36.2249944111, -86.7399718241)",UNHBEH,LPA,4752006,4.703701e+10,Physical Inactivity,36.2249944111,-86.7399718241
548,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Unhealthy Behaviors,4748000-47157021111,No leisure-time physical activity among adults...,%,...,NaN,"3,711","(35.1777783462, -89.8526515433)",UNHBEH,LPA,4748000,4.715702e+10,Physical Inactivity,35.1777783462,-89.8526515433

In [19]:
obese_latlon.info() 
print('\n XXXXXXXXXXXXXXXXXXXXXXX\n')
no_activity_latlon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 0 to 548
Data columns (total 26 columns):
Year                          549 non-null int64
StateAbbr                     549 non-null object
StateDesc                     549 non-null object
CityName                      549 non-null object
GeographicLevel               549 non-null object
DataSource                    549 non-null object
Category                      549 non-null object
UniqueID                      549 non-null object
Measure                       549 non-null object
Data_Value_Unit               549 non-null object
DataValueTypeID               549 non-null object
Data_Value_Type               549 non-null object
Data_Value                    523 non-null float64
Low_Confidence_Limit          523 non-null float64
High_Confidence_Limit         523 non-null float64
Data_Value_Footnote_Symbol    26 non-null object
Data_Value_Footnote           26 non-null object
PopulationCount               549 non-null object
GeoLocation                   549 non-null object
CategoryID                    549 non-null object
MeasureId                     549 non-null object
CityFIPS                      549 non-null int64
TractFIPS                     537 non-null float64
Short_Question_Text           549 non-null object
lat                           549 non-null object
lon                           549 non-null object
dtypes: float64(4), int64(2), object(20)
memory usage: 135.8+ KB

 XXXXXXXXXXXXXXXXXXXXXXX

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 0 to 548
Data columns (total 26 columns):
Year                          549 non-null int64
StateAbbr                     549 non-null object
StateDesc                     549 non-null object
CityName                      549 non-null object
GeographicLevel               549 non-null object
DataSource                    549 non-null object
Category                      549 non-null object
UniqueID                      549 non-null object
Measure                       549 non-null object
Data_Value_Unit               549 non-null object
DataValueTypeID               549 non-null object
Data_Value_Type               549 non-null object
Data_Value                    523 non-null float64
Low_Confidence_Limit          523 non-null float64
High_Confidence_Limit         523 non-null float64
Data_Value_Footnote_Symbol    26 non-null object
Data_Value_Footnote           26 non-null object
PopulationCount               549 non-null object
GeoLocation                   549 non-null object
CategoryID                    549 non-null object
MeasureId                     549 non-null object
CityFIPS                      549 non-null int64
TractFIPS                     537 non-null float64
Short_Question_Text           549 non-null object
lat                           549 non-null object
lon                           549 non-null object
dtypes: float64(4), int64(2), object(20)
memory usage: 135.8+ KB

In [20]:
# convert just columns "lat" and "lon" to float64
obese_latlon[["lat", "lon"]] = obese_latlon[["lat", "lon"]].apply(pd.to_numeric)

In [21]:
obese_latlon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 0 to 548
Data columns (total 26 columns):
Year                          549 non-null int64
StateAbbr                     549 non-null object
StateDesc                     549 non-null object
CityName                      549 non-null object
GeographicLevel               549 non-null object
DataSource                    549 non-null object
Category                      549 non-null object
UniqueID                      549 non-null object
Measure                       549 non-null object
Data_Value_Unit               549 non-null object
DataValueTypeID               549 non-null object
Data_Value_Type               549 non-null object
Data_Value                    523 non-null float64
Low_Confidence_Limit          523 non-null float64
High_Confidence_Limit         523 non-null float64
Data_Value_Footnote_Symbol    26 non-null object
Data_Value_Footnote           26 non-null object
PopulationCount               549 non-null object
GeoLocation                   549 non-null object
CategoryID                    549 non-null object
MeasureId                     549 non-null object
CityFIPS                      549 non-null int64
TractFIPS                     537 non-null float64
Short_Question_Text           549 non-null object
lat                           549 non-null float64
lon                           549 non-null float64
dtypes: float64(6), int64(2), object(18)
memory usage: 135.8+ KB

In [22]:
# convert just columns "lat" and "lon" to float64
no_activity_latlon[["lat", "lon"]] = obese_latlon[["lat", "lon"]].apply(pd.to_numeric)

In [23]:
no_activity_latlon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 0 to 548
Data columns (total 26 columns):
Year                          549 non-null int64
StateAbbr                     549 non-null object
StateDesc                     549 non-null object
CityName                      549 non-null object
GeographicLevel               549 non-null object
DataSource                    549 non-null object
Category                      549 non-null object
UniqueID                      549 non-null object
Measure                       549 non-null object
Data_Value_Unit               549 non-null object
DataValueTypeID               549 non-null object
Data_Value_Type               549 non-null object
Data_Value                    523 non-null float64
Low_Confidence_Limit          523 non-null float64
High_Confidence_Limit         523 non-null float64
Data_Value_Footnote_Symbol    26 non-null object
Data_Value_Footnote           26 non-null object
PopulationCount               549 non-null object
GeoLocation                   549 non-null object
CategoryID                    549 non-null object
MeasureId                     549 non-null object
CityFIPS                      549 non-null int64
TractFIPS                     537 non-null float64
Short_Question_Text           549 non-null object
lat                           549 non-null float64
lon                           549 non-null float64
dtypes: float64(6), int64(2), object(18)
memory usage: 135.8+ KB

In [24]:
from math import radians, cos, sin, asin, sqrt
def dist(lat1, long1, lat2, long2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [ ]:
#obese_latlon.columns

In [ ]:
#print(obese_latlon.head())

In [ ]:
#no_activity_latlon.head()

In [25]:
# There are two duplicate Uniqiue ID columns in both dataset
#before apply distance of obese (hotel) using UniqueID column or joining the data drop UniqueID column from no activity (member) so pandas is not confused on which UniqueID column to join
no_activity_latlon = no_activity_latlon.drop(columns = ['UniqueID'])

In [26]:
def find_nearest(lat, long):
    distances = obese_latlon.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    return obese_latlon.loc[distances.idxmin(), 'UniqueID']

In [27]:
#append obese nearest uniqiue id (ref: hotel name) to no activity dataset new column as oUniqueID
no_activity_latlon['UniqueID'] = no_activity_latlon.apply(
    lambda row: find_nearest(row['lat'], row['lon']), 
    axis=1)
# To check the data frame if it has a new column of obese [oUniqueID] (for each and no activity(member in ref)'s location in the list)
no_activity_latlon.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,Measure,Data_Value_Unit,DataValueTypeID,...,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text,lat,lon,UniqueID
0,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,"2,451","(35.9541120412, -83.9603611106)",UNHBEH,LPA,4740000,4.709300e+10,Physical Inactivity,35.123371,-85.249368,4714000-47065010433
1,2017,TN,Tennessee,Clarksville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,"5,221","(36.4955960329, -87.3598454821)",UNHBEH,LPA,4715160,4.712510e+10,Physical Inactivity,36.019985,-83.940415,4740000-47093004100
2,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,"6,317","(35.1279296495, -85.2082336438)",UNHBEH,LPA,4714000,4.706501e+10,Physical Inactivity,35.055331,-85.333062,4714000-47065010901
3,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,"1,348","(35.0684524247, -85.3130794178)",UNHBEH,LPA,4714000,4.706500e+10,Physical Inactivity,36.003542,-83.939873,4740000-47093002900
4,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,"4,313","(36.0123147591, -83.959901727)",UNHBEH,LPA,4740000,4.709300e+10,Physical Inactivity,35.998590,-83.972815,4740000-47093003902

#### Finding the “distance” between no activity (ref: member) location to the closest obese location (ref: hotel)

In [28]:
no_activity_latlon = pd.merge(no_activity_latlon,obese_latlon[['UniqueID','lat','lon']],on='UniqueID', how='left')
no_activity_latlon.tail(5)

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,Measure,Data_Value_Unit,DataValueTypeID,...,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text,lat_x,lon_x,UniqueID,lat_y,lon_y
556,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4752006,4.703702e+10,Physical Inactivity,36.158250,-86.871528,4752006-47037013202,36.158250,-86.871528
557,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4752006,4.703702e+10,Physical Inactivity,35.100458,-89.939979,4748000-47157008000,35.100458,-89.939979
558,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4752006,4.703701e+10,Physical Inactivity,35.165325,-90.014663,4748000-47157011200,35.165325,-90.014663
559,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4752006,4.703701e+10,Physical Inactivity,36.071276,-86.938263,4752006-47037018410,36.071276,-86.938263
560,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4748000,4.715702e+10,Physical Inactivity,35.904043,-86.478910,4751560-47149040302,35.904043,-86.478910

In [30]:
# Rename the new columns as both the columns has same name, and python gets confused 
no_activity_latlon=no_activity_latlon.rename(columns = {'lat_x':'n_lat','lon_x':'n_lon','lat_y':'o_lat','lon_y':'o_lon'})
no_activity_latlon

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,Measure,Data_Value_Unit,DataValueTypeID,...,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text,n_lat,n_lon,UniqueID,o_lat,o_lon
0,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4740000,4.709300e+10,Physical Inactivity,35.123371,-85.249368,4714000-47065010433,35.123371,-85.249368
1,2017,TN,Tennessee,Clarksville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4715160,4.712510e+10,Physical Inactivity,36.019985,-83.940415,4740000-47093004100,36.019985,-83.940415
2,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4714000,4.706501e+10,Physical Inactivity,35.055331,-85.333062,4714000-47065010901,35.055331,-85.333062
3,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4714000,4.706500e+10,Physical Inactivity,36.003542,-83.939873,4740000-47093002900,36.003542,-83.939873
4,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4740000,4.709300e+10,Physical Inactivity,35.998590,-83.972815,4740000-47093003902,35.998590,-83.972815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4752006,4.703702e+10,Physical Inactivity,36.158250,-86.871528,4752006-47037013202,36.158250,-86.871528
557,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4752006,4.703702e+10,Physical Inactivity,35.100458,-89.939979,4748000-47157008000,35.100458,-89.939979
558,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4752006,4.703701e+10,Physical Inactivity,35.165325,-90.014663,4748000-47157011200,35.165325,-90.014663
559,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4752006,4.703701e+10,Physical Inactivity,36.071276,-86.938263,4752006-47037018410,36.071276,-86.938263
560,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,UNHBEH,LPA,4748000,4.715702e+10,Physical Inactivity,35.904043,-86.478910,4751560-47149040302,35.904043,-86.478910

In [31]:
from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km
# Creating a new column to generate the output by passing lat long information to Haversine Equation
no_activity_latlon['distance'] = [haversine(no_activity_latlon.n_lon[i],no_activity_latlon.n_lat[i],no_activity_latlon.o_lon[i],no_activity_latlon.o_lat[i]) for i in range(len(no_activity_latlon))]
no_activity_latlon['distance'] = no_activity_latlon['distance'].round(decimals=3)
# Printing the data table 
no_activity_latlon

#The Distance which we got in the last column is the Distance in “Kilo Meters” between Hotel and the member Locations

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,Measure,Data_Value_Unit,DataValueTypeID,...,MeasureId,CityFIPS,TractFIPS,Short_Question_Text,n_lat,n_lon,UniqueID,o_lat,o_lon,distance
0,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4740000,4.709300e+10,Physical Inactivity,35.123371,-85.249368,4714000-47065010433,35.123371,-85.249368,0.0
1,2017,TN,Tennessee,Clarksville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4715160,4.712510e+10,Physical Inactivity,36.019985,-83.940415,4740000-47093004100,36.019985,-83.940415,0.0
2,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4714000,4.706501e+10,Physical Inactivity,35.055331,-85.333062,4714000-47065010901,35.055331,-85.333062,0.0
3,2017,TN,Tennessee,Chattanooga,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4714000,4.706500e+10,Physical Inactivity,36.003542,-83.939873,4740000-47093002900,36.003542,-83.939873,0.0
4,2017,TN,Tennessee,Knoxville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4740000,4.709300e+10,Physical Inactivity,35.998590,-83.972815,4740000-47093003902,35.998590,-83.972815,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4752006,4.703702e+10,Physical Inactivity,36.158250,-86.871528,4752006-47037013202,36.158250,-86.871528,0.0
557,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4752006,4.703702e+10,Physical Inactivity,35.100458,-89.939979,4748000-47157008000,35.100458,-89.939979,0.0
558,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4752006,4.703701e+10,Physical Inactivity,35.165325,-90.014663,4748000-47157011200,35.165325,-90.014663,0.0
559,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4752006,4.703701e+10,Physical Inactivity,36.071276,-86.938263,4752006-47037018410,36.071276,-86.938263,0.0
560,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Unhealthy Behaviors,No leisure-time physical activity among adults...,%,CrdPrv,...,LPA,4748000,4.715702e+10,Physical Inactivity,35.904043,-86.478910,4751560-47149040302,35.904043,-86.478910,0.0

In [32]:
no_activity_latlon.to_csv('no_activity_latlon.csv')

In [33]:
no_activity_latlon['distance'].describe()

count    561.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: distance, dtype: float64